/* Make it look pretty */
/* 6 x 7 playing space */
/* Keyframes for tokens dropping into place */
.title{
    border: solid black;
    text-align: center;
    margin-top: 1%;
    color: white;
    text-shadow: -1px -1px 0 #DC3545, 1px -1px 0 #DC3545, -1px 1px 0 #DC3545, 1px 1px 0 #DC3545;
    text-shadow: -2px -2px 0 #DC3545, 2px -2px 0 #DC3545, -2px 2px 0 #DC3545, 2px 2px 0 #DC3545;
}
.gameContainer{
    /* border: solid black; */
    height: 90vh
}
.gameBoard{
    border: solid #09507C;
    border-width: 10px;
    border-radius: 10px;
    background-color: lemonchiffon;
    width: 55%;
    height: 90%;
    margin-left: 22.5%;
    margin-top: 1.5%;
    display: flex;
    flex-flow: wrap;
    padding: 2px;
}
.tokenHolder{
    border: solid black;
    border-width: 2px;
    background-color: #09507C;
    width: 14.28%;
    height: 16.66%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly
}
.tokenSlot{
    background-color: white;
    border-radius: 40px;
    width: 90%;
    height: 90%;
    margin: 5%;
}
.buttonContainer{
    /* border: solid black; */
    margin-top: -3.5%;
}
#columnA{
    position: fixed;
    margin-left: 24%;
}
#columnB{
    position: fixed;
    margin-left: 32%;
}
#columnC{
    position: fixed;
    margin-left: 39.5%;
}
#columnD{
    position: fixed;
    margin-left: 47%;
}
#columnE{
    position: fixed;
    margin-left: 55%;
}
#columnF{
    position: fixed;
    margin-left: 63%;
}
#columnG{
    position: fixed;
    margin-left: 70.5%;
}